@import url('https://fonts.googleapis.com/css?family=Sansita');


/* use this style for testing and development purposes */
/*
.container{border: 2px dotted green;}
.row{border: 1px dotted red;}
.row [class*=' col-']{border: 2px dotted purple;}
*/

body {
	/*background-color: #FFD275;*/
	background-image: url('stripe3.png');
	background-repeat: auto;
	padding-top: 1em;
}

.container-fluid {
	font-family: 'Sansita', sans-serif;
	color: white;
	height: 200%;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

.jumbotron {
	background-color: rgba(255,255,255,0.5);
	color: #DB5A42;
	text-shadow: 1px 1px 1px #000000;
}

.content-box {
	/*background-color: #6A6B83;*/
	border-radius: 1em;
	padding: 0.5em 1em 0em 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 95%;
}

.content-box:hover {
	background-color: black;
	color: white;
}


.content-top {
	padding-left: 2em;
	text-align: left;	
}

.content-bottom {
	padding-right: 2em;
	text-align: right;
}

a {
	color: #FFFFFF;
}

a:hover {
	color: #FFD275;
}

.col-0 {
	background-color: #E8AE68;
}

.col-1 {
	background-color: #A57F60;
}

.col-2 {
	background-color: #DB5A42;
}